torch
torchvision
torchaudio

numpy
pandas
scipy

scikit-learn
imbalanced-learn

opencv-python
Pillow
albumentations
matplotlib
seaborn
tqdm
PyYAML
tensorboard
kaggle
jupyter
ipykernel
h5py
pytest
black
flake8
gpustat
